
/*****************搜索框*****************/
#search_land {
	width:100%;
	height: 80px;
	background-color:#DDD;
}

#search_land #search{
	position: absolute;		/*添加了absolute绝对位置，那么div就会默认显示在div界面的第一行，除非指定位置*/
	margin: 18px 5%; 		/*auto设置了div居中*/
	z-index: 101;
	width: 50%;
	height: 44px;
	border: 2px;
	background-color: #fff;
	border:1px solid #DDD;
}
/*****************搜索框end*****************/



/*****************搜索条件*****************/

#search_condition {
	width:100%;
	height: 280px;
	/* background-color:#888; */
}

#search_condition .title{
	font-size: 24px;
	margin: 10px 5% 0;
	width:130px;
	height: 40px;
	line-height:40px; 	/*实现单行文字居中*/
	font-family:Georgia;
	/* font-style:oblique; */
	/* font-weight:bold; */
	color: #222;
	background-color:rgb(259,153,0);
}

#search_condition .list{
	font-size: 14px;
	margin: 0px 5%;
	width:90%;
	height: 180px;
	/* background-color:#333; */
	border:1px solid #DDD;
}
#search_condition .list #line{
	width:100%;
	height: 40px;
}

#search_condition .list ul{
    margin-top: 20px;
    list-style: none;
    overflow: hidden;
    float: left;
}

#search_condition .list ul li{
    float: left;
    margin-left: 20px;
}


#search_condition .list ul li a {
    text-decoration: none;
    color: #555;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;

}

#search_condition .list a:hover {
	color: rgb(255,102,0);
	text-decoration: underline;
}

#search_condition .selected{
	font-size: 14px;
	margin: 0 5%;
	width:90%;
	height: 50px;
	line-height:50px; 	/*实现单行文字居中*/
	font-family:Georgia;
	color: #222;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
	background-color:#EEE;
}
/*****************搜索条件end*****************/


/*****************搜索框结果*****************/
#search_result {
	width:90%;
	height: 2500px;
	margin: 20px 5%;
	/* background-color:blue; */
	border:1px solid #DDD;
}

#search_result #title{
	width:100%;
	height: 40px;
	/* background-color:blue; */
}
#search_result #title span{
	width:12%;
	height: 40px;
	display:inline-block;
	/* background-color:green; */
	border-right:1px solid #DDD;
	border-bottom:1px solid #DDD;
	
	font-size:14px;
	line-height:40px; /*单行文字垂直居中*/
	text-align:center;
}



#search_result .result {
	width: 96%;
	height: 250px;
	margin: 10px 2%;
	border-bottom:1px dashed #DDD; /*虚线边框*/
	/* background-color: red; */
}

#search_result .result img {
	location: relative;
	width: 23.8%;275px;
	height: 206px;
	margin: 16px 0;
	border:none;
}

#search_result .result #detial {
	/* location: relative; */
	width: 72%;
	height: 206px;
	margin: 16px;
	float:right;
	display:inline-block;
}

#detial .p1{
	width: 100%;
	height: 40px;
	margin: 5px auto;
	font-family: "lato-regular", Helvetica, Arial, sans-serif;
}
#detial .p1 a{
	color: #222;
	font-size:22px;
	font-weight:bold;
	text-decoration: none;
}
#detial .p1 a:hover{
	color: rgb(255,102,0);
	text-decoration: underline;
}

#detial .p2{
	width: 100%;
	height: 35px;
	color: #888;
	font-family: "lato-regular", Helvetica, Arial, sans-serif;
}
#detial .p2 a{
	color: #222;
	font-size:14px;
	font-weight:bold;
}

#detial .p3{
	width: 100%;
	height: 35px;
}
#detial .p3 a{
	color: #666;
	font-size:12px;
	text-decoration: none;a:hover
}
#detial .p3 a:hover{
	color: blue;

}
#detial .p3 span{
	width: 20%;
	height: 35px;
	float:right;
	line-height: 35px; /*单行文字居中*/
	color:rgb(255,102,0);
	font-size:28px;
	font-weigth:bold;
	font-family: "lato-regular", Helvetica, Arial, sans-serif;
}

#detial .p4{
	width: 100%;
	height: 35px;
}
#detial .p4 a{
	color: #666;
	font-size:12px;
}






