
/* .jqzoom{ width:350px; height:350px; position:relative;} */
.jqzoom{ width:350px; height:350px; position:relative;}

/* .zoomdiv{ left:859px; height:400px; width:400px;} */
.zoomdiv{ left:0px; height:400px; width:450px;}
.list-h li{ float:left;}
#spec-n5{width:460px; height:56px; padding-top:16px; overflow:hidden;}
#spec-left{ background:url(../img/showimg/left.gif) no-repeat; width:10px; height:60px; float:left; cursor:pointer; margin-right:5px;}
#spec-right{background:url(../img/showimg/right.gif) no-repeat; width:10px; height:45px; float:left;cursor:pointer; }
#spec-list{ width:415px; float:left; overflow:hidden; margin-left:2px; display:inline;}
#spec-list div{ width:450px ! important;}
#spec-list ul li{ float:left; margin-right:0px; display:inline; width:82px;}
#spec-list ul li img{ padding:0px ; border:1px solid #ccc; width:70px; height:50px;}

/*jqzoom*/
.jqzoom{position:relative;padding:0;}
.zoomdiv{z-index:100;position:absolute;top:1px;left:0px;width:400px;height:400px;background:url(i/loading.gif) #fff no-repeat center center;border:1px solid #e4e4e4;display:none;text-align:center;overflow: hidden;}
.bigimg{width:800px;height:800px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:60px;height:50px;border:1px solid #aaa;background:#FEDE4F 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
#spec-list{ position:relative; width:415px; margin-right:6px;}
#spec-list div{ margin-top:0;margin-left:-30px; *margin-left:0;}